In [22]:
import pandas as pd
import numpy as np
import seaborn as sns

In [23]:
dat1 = pd.read_csv("3rd_ppp_for_upload_win.csv", encoding = "ISO-8859-1")
dat2 = pd.read_csv("atm_for_upload_win.csv", encoding = "ISO-8859-1")
dat3 = pd.read_csv("banks_for_upload_win.csv", encoding = "ISO-8859-1")
dat4 = pd.read_csv("bus_stands_for_upload_win.csv", encoding = "ISO-8859-1")
dat5 = pd.read_csv("microfinance_for_upload_win.csv", encoding = "ISO-8859-1")
dat6 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")
dat7 = pd.read_csv("pos_for_upload_win.csv", encoding = "ISO-8859-1")
dat8 = pd.read_csv("post_office_for_upload_win.csv", encoding = "ISO-8859-1")
dat9 = pd.read_csv("sacco_for_upload_win.csv", encoding = "ISO-8859-1")

c:\users\olaleye eniola\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
dat1.trading_hours.unique()

array(['12 hours', '10 hours', '8 hours', '24 hours'], dtype=object)

In [25]:
dat1.head()

,region,district,ward,latitude,longitude,agent_name,standalone_agent,other_activities,trading_hours,provider_selcom,...,services_airtime_purchase,Other than those listed above are there any other services provided?,Please indicate,branding_but__service,Please select,branding_but_no_service_MaxMalipo,branding_but_no_service_Selcom,branding_but_no_service_ButtonPay,branding_but_no_service_other,branding_but_no_service_other_detail
0,Mwanza,Magu,Nyanguge,-2.36921,33.57654,Ahad Techknowledge,Conduct other business,Accessories,12 hours,Yes,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mwanza,Ilemela,Nyakato,-2.53201,32.94780,Dady Mpesa Shop,Conduct other business,Accessories,12 hours,NaN,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dar es Salaam,Ilala,Segerea,-6.84188,39.21102,A City Shop,Stand Alone Agent,NaN,12 hours,Yes,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dar es Salaam,Kinondoni,Kijitonyama,-6.77949,39.24092,France Corner,Conduct other business,Accessories,10 hours,NaN,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dar es Salaam,Temeke,Kigamboni,-6.82792,39.31021,A One Fashion,Stand Alone Agent,NaN,10 hours,NaN,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dat1 = dat1[['district', 'latitude', 'longitude', 'agent_name',
       'standalone_agent', 'trading_hours']]

In [27]:
dat1.head()

,district,latitude,longitude,agent_name,standalone_agent,trading_hours
0,Magu,-2.36921,33.57654,Ahad Techknowledge,Conduct other business,12 hours
1,Ilemela,-2.53201,32.94780,Dady Mpesa Shop,Conduct other business,12 hours
2,Ilala,-6.84188,39.21102,A City Shop,Stand Alone Agent,12 hours
3,Kinondoni,-6.77949,39.24092,France Corner,Conduct other business,10 hours
4,Temeke,-6.82792,39.31021,A One Fashion,Stand Alone Agent,10 hours

In [28]:
dat1.standalone_agent.unique()

array(['Conduct other business', 'Stand Alone Agent'], dtype=object)

In [29]:
dat1.drop(["trading_hours",'agent_name','district'], axis = 1, inplace =True)

In [30]:
dat1.head()

   latitude  longitude        standalone_agent
0  -2.36921   33.57654  Conduct other business
1  -2.53201   32.94780  Conduct other business
2  -6.84188   39.21102       Stand Alone Agent
3  -6.77949   39.24092  Conduct other business
4  -6.82792   39.31021       Stand Alone Agent

In [31]:
dat1.isnull().sum()

latitude            0
longitude           0
standalone_agent    0
dtype: int64

In [32]:
#data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])

In [33]:
#data.to_csv("all.csv",index = False)

In [34]:
dat1['standalone_agent'] = dat1['standalone_agent'].astype('category')

In [35]:
data = dat1.copy()

In [36]:

cat_columns = dat1.select_dtypes(['category']).columns

cat_columns
dat1[cat_columns] = dat1[cat_columns].apply(lambda x: x.cat.codes)
dat1.head()

   latitude  longitude  standalone_agent
0  -2.36921   33.57654                 0
1  -2.53201   32.94780                 0
2  -6.84188   39.21102                 1
3  -6.77949   39.24092                 0
4  -6.82792   39.31021                 1

In [37]:
dat1.standalone_agent.unique()

array([0, 1], dtype=int64)

In [38]:
X= dat1.drop('standalone_agent', axis =1)
y = dat1["standalone_agent"]

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [40]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [41]:
model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier()

In [42]:
y_train.head()

4982    0
3535    1
3641    0
1294    0
2859    0
Name: standalone_agent, dtype: int8

In [43]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
accuracy_score(xgb.predict(X_test),y_test)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.6357487922705314

In [46]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [47]:
train = pd.read_csv("training.csv")
test = pd.read_csv("test.csv")

In [48]:
train  = train[["Latitude","Longitude"]]
test = test[["Latitude","Longitude"]]

In [49]:
dat1.columns

Index(['latitude', 'longitude', 'standalone_agent'], dtype='object')

In [50]:
train.columns = ['latitude', 'longitude']
test.columns = ['latitude', 'longitude']

In [51]:
test.head()

   latitude  longitude
0 -2.596421  32.913584
1 -1.778303  34.062640
2 -1.851789  31.536866
3 -1.235656  34.229012
4 -7.780934  35.691878

In [52]:
train_trade = xgb.predict(train)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [53]:
test_trade = xgb.predict(test)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [54]:
#pd.DataFrame(train_destrict)
dat1.head()

   latitude  longitude  standalone_agent
0  -2.36921   33.57654                 0
1  -2.53201   32.94780                 0
2  -6.84188   39.21102                 1
3  -6.77949   39.24092                 0
4  -6.82792   39.31021                 1

In [55]:
data.head()

   latitude  longitude        standalone_agent
0  -2.36921   33.57654  Conduct other business
1  -2.53201   32.94780  Conduct other business
2  -6.84188   39.21102       Stand Alone Agent
3  -6.77949   39.24092  Conduct other business
4  -6.82792   39.31021       Stand Alone Agent

In [56]:
mainmain = pd.concat([dat1.standalone_agent,data.standalone_agent], axis = 1)
mainmain.head()

  standalone_agent        standalone_agent
0                0  Conduct other business
1                0  Conduct other business
2                1       Stand Alone Agent
3                0  Conduct other business
4                1       Stand Alone Agent

In [57]:
#dataOriginal.head()
mainmain.columns = ['standing', 'standalone_agent']

In [58]:
#dataOriginal.reset_index(inplace=True)
#data.drop_duplicates(inplace= True)
#dataOriginal.drop("index",inplace=True)
#data.head()
mainmain.head()

   standing        standalone_agent
0         0  Conduct other business
1         0  Conduct other business
2         1       Stand Alone Agent
3         0  Conduct other business
4         1       Stand Alone Agent

In [64]:
#worked_out.head()
dict(zip(mainmain.standing, mainmain.standalone_agent))

{0: 'Conduct other business', 1: 'Stand Alone Agent'}

In [66]:
dick = dict(zip(mainmain.standing, mainmain.standalone_agent)) 
dick

{0: 'Conduct other business', 1: 'Stand Alone Agent'}

In [67]:
trainpred = pd.DataFrame(train_trade, columns = ["standalone_agent"])
testpred = pd.DataFrame(test_trade ,  columns = ["standalone_agent"])

In [68]:
testpred.head()

   standalone_agent
0                 0
1                 0
2                 0
3                 0
4                 0

In [69]:
trainagent = trainpred.replace({'standalone_agent': dick})
trainagent.head()

         standalone_agent
0  Conduct other business
1  Conduct other business
2  Conduct other business
3  Conduct other business
4       Stand Alone Agent

In [70]:
testagent = testpred.replace({'standalone_agent': dick})
testagent.head()

         standalone_agent
0  Conduct other business
1  Conduct other business
2  Conduct other business
3  Conduct other business
4  Conduct other business

In [71]:
print("testunique is " + str(testagent.standalone_agent.unique()) ,"train unique " + str(trainagent.standalone_agent.unique()) )

testunique is ['Conduct other business' 'Stand Alone Agent'] train unique ['Conduct other business' 'Stand Alone Agent']

In [72]:
trainagent.to_csv('trainagent.csv',index = False)
testagent.to_csv('testagent.csv', index = False)