In [71]:
import pandas as pd
import numpy as np
import seaborn as sns

In [72]:
dat1 = pd.read_csv("3rd_ppp_for_upload_win.csv", encoding = "ISO-8859-1")
dat2 = pd.read_csv("atm_for_upload_win.csv", encoding = "ISO-8859-1")
dat3 = pd.read_csv("banks_for_upload_win.csv", encoding = "ISO-8859-1")
dat4 = pd.read_csv("bus_stands_for_upload_win.csv", encoding = "ISO-8859-1")
dat5 = pd.read_csv("microfinance_for_upload_win.csv", encoding = "ISO-8859-1")
dat6 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")
dat7 = pd.read_csv("pos_for_upload_win.csv", encoding = "ISO-8859-1")
dat8 = pd.read_csv("post_office_for_upload_win.csv", encoding = "ISO-8859-1")
dat9 = pd.read_csv("sacco_for_upload_win.csv", encoding = "ISO-8859-1")

c:\users\olaleye eniola\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
dat6.head(2)

,region,district,ward,latitude,longitude,agent_name,till_operator,agent_type,standalone_or_other_business,other_business_type,...,other_local_services,other_local_services_details,branding_but_no_service,branding_but_no_service_mpesa,branding_but_no_service_tigo_pesa,branding_but_no_service_ezy_pesa,branding_but_no_service_airtel_money,branding_but_no_service_max_malipo,branding_but_no_service_selcom,branding_but_no_service_button Pay
0,Ruvuma,Tunduru,Kalulu,-10.28298,40.18363,Yusuph Shop,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruvuma,Tunduru,Kalulu,-10.28457,40.18295,Abdulazak Shop,owner,Aggregated,Other business,Duka,...,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
dat6 = dat6[['latitude', 'longitude', 'trading_hours']]

In [75]:
dat6.trading_hours.unique()

array(['12 hours', '10 hours', '8 hours', '24 hours', nan], dtype=object)

In [76]:
dat6.dropna(inplace= True)
dat6.head()

   latitude  longitude trading_hours
0 -10.28298   40.18363      12 hours
1 -10.28457   40.18295      12 hours
2  -3.36025   37.33803      12 hours
3  -6.80213   39.22978      12 hours
4  -3.35613   37.33382      12 hours

In [77]:
dat1 = dat1[[ 'latitude', 'longitude',
       'trading_hours']]

In [78]:
#dat1.drop(["agent_name",'standalone_agent','district'], axis = 1, inplace =True)

In [79]:
dat1.head()

   latitude  longitude trading_hours
0  -2.36921   33.57654      12 hours
1  -2.53201   32.94780      12 hours
2  -6.84188   39.21102      12 hours
3  -6.77949   39.24092      10 hours
4  -6.82792   39.31021      10 hours

In [80]:
dat1.isnull().sum()

latitude         0
longitude        0
trading_hours    0
dtype: int64

In [81]:
dat1 = pd.concat([dat1,dat6])
dat1.reset_index(inplace =True)
dat1.head()

   index  latitude  longitude trading_hours
0      0  -2.36921   33.57654      12 hours
1      1  -2.53201   32.94780      12 hours
2      2  -6.84188   39.21102      12 hours
3      3  -6.77949   39.24092      10 hours
4      4  -6.82792   39.31021      10 hours

In [83]:
#data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])
dat1.drop("index",axis =1,inplace =True)

In [84]:
#data.to_csv("all.csv",index = False)

In [85]:
dat1['trading_hours'] = dat1['trading_hours'].astype('category')

In [86]:
data = dat1.copy()

In [87]:

cat_columns = dat1.select_dtypes(['category']).columns

cat_columns
dat1[cat_columns] = dat1[cat_columns].apply(lambda x: x.cat.codes)
dat1.head()

   latitude  longitude  trading_hours
0  -2.36921   33.57654              1
1  -2.53201   32.94780              1
2  -6.84188   39.21102              1
3  -6.77949   39.24092              0
4  -6.82792   39.31021              0

In [88]:
dat1.trading_hours.unique()

array([1, 0, 3, 2], dtype=int64)

In [89]:
X= dat1.drop('trading_hours', axis =1)
y = dat1["trading_hours"]

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [91]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [92]:
model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier()

In [93]:
y_train.head()

7724     1
40766    1
1411     1
46691    1
4639     1
Name: trading_hours, dtype: int8

In [94]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [98]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [99]:
from sklearn.metrics import accuracy_score

In [100]:
accuracy_score(xgb.predict(X_test),y_test)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8813786073772059

In [101]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [102]:
train = pd.read_csv("training.csv")
test = pd.read_csv("test.csv")

In [103]:
train  = train[["Latitude","Longitude"]]
test = test[["Latitude","Longitude"]]

In [104]:
dat1.columns

Index(['latitude', 'longitude', 'trading_hours'], dtype='object')

In [105]:
train.columns = ['latitude', 'longitude']
test.columns = ['latitude', 'longitude']

In [106]:
test.head()

   latitude  longitude
0 -2.596421  32.913584
1 -1.778303  34.062640
2 -1.851789  31.536866
3 -1.235656  34.229012
4 -7.780934  35.691878

In [118]:
train_trade = xgb.predict(train)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [119]:
test_trade = xgb.predict(test)

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [120]:
#pd.DataFrame(train_destrict)
dat1.head()

   latitude  longitude  trading_hours
0  -2.36921   33.57654              1
1  -2.53201   32.94780              1
2  -6.84188   39.21102              1
3  -6.77949   39.24092              0
4  -6.82792   39.31021              0

In [121]:
data.head()

   latitude  longitude trading_hours
0  -2.36921   33.57654      12 hours
1  -2.53201   32.94780      12 hours
2  -6.84188   39.21102      12 hours
3  -6.77949   39.24092      10 hours
4  -6.82792   39.31021      10 hours

In [122]:
mainmain = pd.concat([dat1.trading_hours,data.trading_hours], axis = 1)
mainmain.head()

  trading_hours trading_hours
0             1      12 hours
1             1      12 hours
2             1      12 hours
3             0      10 hours
4             0      10 hours

In [123]:
#dataOriginal.head()
mainmain.columns = ['trading_hours1', 'trading_hours']

In [124]:
#dataOriginal.reset_index(inplace=True)
#data.drop_duplicates(inplace= True)
#dataOriginal.drop("index",inplace=True)
#data.head()
mainmain.head()

   trading_hours1 trading_hours
0               1      12 hours
1               1      12 hours
2               1      12 hours
3               0      10 hours
4               0      10 hours

In [125]:
#worked_out.head()
dict(zip(mainmain.trading_hours, mainmain.trading_hours1))

{'10 hours': 0, '12 hours': 1, '24 hours': 2, '8 hours': 3}

In [126]:
dick = dict(zip(mainmain.trading_hours1, mainmain.trading_hours))
dick

{0: '10 hours', 1: '12 hours', 2: '24 hours', 3: '8 hours'}

In [127]:
trainpred = pd.DataFrame(train_trade, columns = ["trading_hours"])
testpred = pd.DataFrame(test_trade ,  columns = ["trading_hours"])

In [128]:
testpred.head()

   trading_hours
0              1
1              1
2              1
3              1
4              1

In [129]:
trainHours = trainpred.replace({'trading_hours': dick})

In [130]:
testHours = testpred.replace({'trading_hours': dick})

In [131]:
print("testunique is " + str(testHours.trading_hours.unique()) ,"train unique " + str(trainHours.trading_hours.unique()) )

testunique is ['12 hours' '10 hours'] train unique ['12 hours' '10 hours']

In [132]:
trainHours.to_csv('trainHours.csv',index = False)
testHours.to_csv('testHours.csv', index = False)