In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:

dat1 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")

c:\users\olaleye eniola\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dat1.head()

,region,district,ward,latitude,longitude,agent_name,till_operator,agent_type,standalone_or_other_business,other_business_type,...,other_local_services,other_local_services_details,branding_but_no_service,branding_but_no_service_mpesa,branding_but_no_service_tigo_pesa,branding_but_no_service_ezy_pesa,branding_but_no_service_airtel_money,branding_but_no_service_max_malipo,branding_but_no_service_selcom,branding_but_no_service_button Pay
0,Ruvuma,Tunduru,Kalulu,-10.28298,40.18363,Yusuph Shop,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruvuma,Tunduru,Kalulu,-10.28457,40.18295,Abdulazak Shop,owner,Aggregated,Other business,Duka,...,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kilimanjaro,Moshi Urban,Bondeni,-3.36025,37.33803,Hussein Ramadhani Shop,employee,Independent,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dar es Salaam,Kinondoni,Manzese,-6.80213,39.22978,Mechmaster Ltd,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kilimanjaro,Moshi Urban,Kiusa,-3.35613,37.33382,Bernadeta Mtui,owner,Independent,Other business,Duka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dat1 = dat1[['latitude', 'longitude', 'withdrawls_airtel_cash']]

In [6]:
dat1.head()

   latitude  longitude  withdrawls_airtel_cash
0 -10.28298   40.18363                    20.0
1 -10.28457   40.18295                    20.0
2  -3.36025   37.33803                     6.0
3  -6.80213   39.22978                    11.0
4  -3.35613   37.33382                     3.0

In [7]:
#dat1.standalone_agent.unique()

In [8]:
#dat1.drop(["trading_hours",'agent_name','district'], axis = 1, inplace =True)

In [9]:
dat1.head()

   latitude  longitude  withdrawls_airtel_cash
0 -10.28298   40.18363                    20.0
1 -10.28457   40.18295                    20.0
2  -3.36025   37.33803                     6.0
3  -6.80213   39.22978                    11.0
4  -3.35613   37.33382                     3.0

In [10]:
dat1.dropna(inplace = True)
dat1.isnull().sum()

latitude                  0
longitude                 0
withdrawls_airtel_cash    0
dtype: int64

In [11]:
#data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])
dat1.reset_index(inplace = True)
dat1.drop('index',axis =1,inplace =True)

In [12]:
#data.to_csv("all.csv",index = False)
dat1.head()

   latitude  longitude  withdrawls_airtel_cash
0 -10.28298   40.18363                    20.0
1 -10.28457   40.18295                    20.0
2  -3.36025   37.33803                     6.0
3  -6.80213   39.22978                    11.0
4  -3.35613   37.33382                     3.0

In [13]:
#dat1['standalone_agent'] = dat1['standalone_agent'].astype('category')

In [14]:
data = dat1.copy()

In [16]:
X= dat1.drop('withdrawls_airtel_cash', axis =1)
y = dat1["withdrawls_airtel_cash"]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [18]:
from xgboost import XGBRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

c:\users\olaleye eniola\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [19]:
model = LogisticRegression()
#rf = RandomForestClassifier()
xgb = XGBRegressor()

In [20]:
y_train.head()

5042      5.0
10721    15.0
7333      5.0
4419      6.0
394       5.0
Name: withdrawls_airtel_cash, dtype: float64

In [21]:
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [22]:
from sklearn.metrics import mean_absolute_error

In [23]:
mean_absolute_error(xgb.predict(X_test),y_test)

5.374263130634572

In [24]:
xgb.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [25]:
train = pd.read_csv("training.csv")
test = pd.read_csv("test.csv")

In [26]:
train  = train[["Latitude","Longitude"]]
test = test[["Latitude","Longitude"]]

In [27]:
dat1.columns

Index(['latitude', 'longitude', 'withdrawls_airtel_cash'], dtype='object')

In [28]:
train.columns = ['latitude', 'longitude']
test.columns = ['latitude', 'longitude']

In [29]:
test.head()

   latitude  longitude
0 -2.596421  32.913584
1 -1.778303  34.062640
2 -1.851789  31.536866
3 -1.235656  34.229012
4 -7.780934  35.691878

In [30]:
train_trade = xgb.predict(train)

In [31]:
test_trade = xgb.predict(test)
test_trade

array([ 9.338726,  9.311653,  8.013714, ..., 11.380838,  8.691245,
        7.573974], dtype=float32)

In [32]:
#pd.DataFrame(train_destrict)
dat1.head()

   latitude  longitude  withdrawls_airtel_cash
0 -10.28298   40.18363                    20.0
1 -10.28457   40.18295                    20.0
2  -3.36025   37.33803                     6.0
3  -6.80213   39.22978                    11.0
4  -3.35613   37.33382                     3.0

In [33]:
data.head()

   latitude  longitude  withdrawls_airtel_cash
0 -10.28298   40.18363                    20.0
1 -10.28457   40.18295                    20.0
2  -3.36025   37.33803                     6.0
3  -6.80213   39.22978                    11.0
4  -3.35613   37.33382                     3.0

In [35]:
trainpred = pd.DataFrame(train_trade, columns = ["withdrawls_airtel_cash"])
testpred = pd.DataFrame(test_trade ,  columns = ["withdrawls_airtel_cash"])

In [36]:
testpred = testpred.round()
trainpred  = trainpred.round()

In [37]:
trainpred.to_csv('trainwid.csv',index = False)
testpred.to_csv('testwid.csv', index = False)