In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:

dat1 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")

c:\users\olaleye eniola\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dat1.deposits_airtel_cash.unique()

array([4.000e+01, 3.000e+01, 4.000e+00, 2.000e+01, 5.000e+00, 2.000e+00,
       3.000e+00, 1.500e+01, 1.800e+01, 8.000e+00, 2.800e+01, 0.000e+00,
             nan, 9.000e+00, 1.000e+01, 6.000e+00, 1.000e+00, 1.300e+01,
       1.200e+01, 2.300e+01, 1.100e+01, 1.700e+01, 2.200e+01, 7.000e+00,
       5.300e+01, 2.500e+01, 5.000e+01, 3.500e+01, 4.200e+01, 3.200e+01,
       4.500e+01, 1.400e+01, 1.600e+01, 3.600e+01, 2.900e+01, 2.100e+01,
       4.800e+01, 2.600e+01, 1.900e+01, 4.600e+01, 6.000e+01, 3.100e+01,
       7.000e+01, 5.100e+01, 6.400e+01, 2.700e+01, 2.500e+02, 3.700e+01,
       5.200e+01, 9.700e+01, 8.000e+01, 2.400e+01, 3.400e+01, 6.500e+01,
       3.300e+01, 1.100e+02, 1.000e+02, 3.800e+01, 5.600e+01, 1.200e+02,
       2.000e+02, 1.007e+03, 6.300e+01, 7.600e+01, 1.050e+02, 7.500e+01,
       5.500e+01])

In [4]:
dat1.head()

,region,district,ward,latitude,longitude,agent_name,till_operator,agent_type,standalone_or_other_business,other_business_type,...,other_local_services,other_local_services_details,branding_but_no_service,branding_but_no_service_mpesa,branding_but_no_service_tigo_pesa,branding_but_no_service_ezy_pesa,branding_but_no_service_airtel_money,branding_but_no_service_max_malipo,branding_but_no_service_selcom,branding_but_no_service_button Pay
0,Ruvuma,Tunduru,Kalulu,-10.28298,40.18363,Yusuph Shop,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruvuma,Tunduru,Kalulu,-10.28457,40.18295,Abdulazak Shop,owner,Aggregated,Other business,Duka,...,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kilimanjaro,Moshi Urban,Bondeni,-3.36025,37.33803,Hussein Ramadhani Shop,employee,Independent,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dar es Salaam,Kinondoni,Manzese,-6.80213,39.22978,Mechmaster Ltd,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kilimanjaro,Moshi Urban,Kiusa,-3.35613,37.33382,Bernadeta Mtui,owner,Independent,Other business,Duka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dat1 = dat1[['latitude', 'longitude', 'deposits_airtel_cash']]

In [6]:
dat1.head()

   latitude  longitude  deposits_airtel_cash
0 -10.28298   40.18363                  40.0
1 -10.28457   40.18295                  30.0
2  -3.36025   37.33803                   4.0
3  -6.80213   39.22978                  20.0
4  -3.35613   37.33382                   5.0

In [7]:
#dat1.standalone_agent.unique()

In [8]:
#dat1.drop(["trading_hours",'agent_name','district'], axis = 1, inplace =True)

In [9]:
dat1.head()

   latitude  longitude  deposits_airtel_cash
0 -10.28298   40.18363                  40.0
1 -10.28457   40.18295                  30.0
2  -3.36025   37.33803                   4.0
3  -6.80213   39.22978                  20.0
4  -3.35613   37.33382                   5.0

In [11]:
dat1.dropna(inplace = True)
dat1.isnull().sum()

latitude                0
longitude               0
deposits_airtel_cash    0
dtype: int64

In [13]:
#data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])
dat1.reset_index(inplace = True)
dat1.drop('index',axis =1,inplace =True)

In [14]:
#data.to_csv("all.csv",index = False)
dat1.head()

   latitude  longitude  deposits_airtel_cash
0 -10.28298   40.18363                  40.0
1 -10.28457   40.18295                  30.0
2  -3.36025   37.33803                   4.0
3  -6.80213   39.22978                  20.0
4  -3.35613   37.33382                   5.0

In [15]:
#dat1['standalone_agent'] = dat1['standalone_agent'].astype('category')

In [16]:
data = dat1.copy()

In [18]:
X= dat1.drop('deposits_airtel_cash', axis =1)
y = dat1["deposits_airtel_cash"]

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [21]:
from xgboost import XGBRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

In [22]:
model = LogisticRegression()
#rf = RandomForestClassifier()
xgb = XGBRegressor()

In [23]:
y_train.head()

5042     10.0
10721    10.0
7333      5.0
4419      2.0
394       2.0
Name: deposits_airtel_cash, dtype: float64

In [24]:
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [28]:
from sklearn.metrics import mean_absolute_error

In [29]:
mean_absolute_error(xgb.predict(X_test),y_test)

4.764153895252277

In [30]:
xgb.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [31]:
train = pd.read_csv("training.csv")
test = pd.read_csv("test.csv")

In [32]:
train  = train[["Latitude","Longitude"]]
test = test[["Latitude","Longitude"]]

In [33]:
dat1.columns

Index(['latitude', 'longitude', 'deposits_airtel_cash'], dtype='object')

In [34]:
train.columns = ['latitude', 'longitude']
test.columns = ['latitude', 'longitude']

In [35]:
test.head()

   latitude  longitude
0 -2.596421  32.913584
1 -1.778303  34.062640
2 -1.851789  31.536866
3 -1.235656  34.229012
4 -7.780934  35.691878

In [36]:
train_trade = xgb.predict(train)

In [38]:
test_trade = xgb.predict(test)
test_trade

array([6.7075486, 6.8283477, 5.531634 , ..., 9.9902315, 6.900431 ,
       6.900431 ], dtype=float32)

In [39]:
#pd.DataFrame(train_destrict)
dat1.head()

   latitude  longitude  deposits_airtel_cash
0 -10.28298   40.18363                  40.0
1 -10.28457   40.18295                  30.0
2  -3.36025   37.33803                   4.0
3  -6.80213   39.22978                  20.0
4  -3.35613   37.33382                   5.0

In [40]:
data.head()

   latitude  longitude  deposits_airtel_cash
0 -10.28298   40.18363                  40.0
1 -10.28457   40.18295                  30.0
2  -3.36025   37.33803                   4.0
3  -6.80213   39.22978                  20.0
4  -3.35613   37.33382                   5.0

In [41]:
trainpred = pd.DataFrame(train_trade, columns = ["deposits_airtel_cash"])
testpred = pd.DataFrame(test_trade ,  columns = ["deposits_airtel_cash"])

In [44]:
testpred = testpred.round()
trainpred  = trainpred.round()

In [45]:
trainpred.to_csv('traindep.csv',index = False)
testpred.to_csv('testdep.csv', index = False)