In [36]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv('geocode.csv')

In [38]:
data.head()

   Latitude  Longitude                                            address
0 -4.460442  29.811396    Manyovu, Kasulu, Kigoma, Western Zone, Tanzania
1 -6.176438  39.244871  Mombasa, Zanzibar City, Unguja Mjini Magharibi...
2 -6.825702  37.652798  Forest Hill, Morogoro, Coastal Zone, 6284, Tan...
3 -3.372049  35.808307  Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...
4 -7.179645  31.039095  R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania

In [39]:
data.dtypes

Latitude     float64
Longitude    float64
address       object
dtype: object

In [40]:
data['hehe'] = data.address.astype('str')

In [41]:
data.dtypes

Latitude     float64
Longitude    float64
address       object
hehe          object
dtype: object

In [42]:
data.head()

,Latitude,Longitude,address,hehe
0,-4.460442,29.811396,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania"
1,-6.176438,39.244871,"Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi..."
2,-6.825702,37.652798,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan..."
3,-3.372049,35.808307,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan..."
4,-7.179645,31.039095,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania"

In [ ]:
# # Cabin
# data['Cabin_numerical'] = data.Cabin.str.extract('(\d+)') # extracts number from string
# data['Cabin_numerical'] = data['Cabin_numerical'].astype('float') # parses the above variable to float type

# #data['Cabin_categorical'] = data['Cabin'].str[0]

In [48]:
#data['address'].str[0]

In [49]:
data['streetnumber'] = data.address.str.extract('(\d+)')

In [50]:
data.to_csv('streetno.csv',index = False)

In [33]:
data['lengthOfData'] = data['address'].astype('str').apply(lambda x: len(x.split(',')))

In [35]:
data.to_csv('lenofData.csv',index = False)

In [34]:
data.lengthOfData.unique()

array([ 5,  6,  4,  7,  8,  3,  9, 10,  2], dtype=int64)

In [41]:
data['splittedbyZone'] = data['address'].astype('str').apply(lambda x: x.split('Zone')[0])

In [42]:
data.head()

,Latitude,Longitude,address,hehe,splittedbyZone
0,-4.460442,29.811396,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western"
1,-6.176438,39.244871,"Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi..."
2,-6.825702,37.652798,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal"
3,-3.372049,35.808307,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern"
4,-7.179645,31.039095,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western"

In [43]:
data['real_zone'] = data['splittedbyZone'].astype('str').apply(lambda x: x.split(',')[-1])

In [45]:
data.real_zone.value_counts()

 Southern Highlands     2164
 Lake                   1998
 Coastal                1788
 Northern               1358
 Central                 992
 Tanzania                651
 Western                 500
 Kenya                     6
 Zambia                    1
 Malawi                    1
Name: real_zone, dtype: int64

In [46]:
data.to_csv('real_zone.csv',index = False)

In [44]:
data.head()

,Latitude,Longitude,address,hehe,splittedbyZone,real_zone
0,-4.460442,29.811396,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western",Western
1,-6.176438,39.244871,"Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi...",Tanzania
2,-6.825702,37.652798,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal",Coastal
3,-3.372049,35.808307,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern",Northern
4,-7.179645,31.039095,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western",Western

0                   Western
1                   Tanzania
2                   Coastal
3                  Northern
4                   Western
5                   Coastal
6        Southern Highlands
7        Southern Highlands
8                      Lake
9        Southern Highlands
10                     Lake
11       Southern Highlands
12       Southern Highlands
13       Southern Highlands
14                  Tanzania
15                     Lake
16                  Coastal
17                 Northern
18                     Lake
19       Southern Highlands
20                  Western
21                     Lake
22       Southern Highlands
23       Southern Highlands
24                 Northern
25       Southern Highlands
26                  Tanzania
27                     Lake
28                 Northern
29                  Coastal
                ...
9429                   Lake
9430               Northern
9431               Northern
9432                Tanzania
9433                Tanzania
9434                Tanzania
9435                Coastal
9436                   Lake
9437               Northern
9438               Northern
9439                Western
9440                Tanzania
9441                   Lake
9442                Central
9443                Central
9444                   Lake
9445                   Lake
9446                   Lake
9447                   Lake
9448     Southern Highlands
9449     Southern Highlands
9450                   Lake
9451                   Lake
9452     Southern Highlands
9453                   Lake
9454                   Lake
9455                   Lake
9456                   Lake
9457                   Lake
9458                   Lake
Name: splittedbyZone, Length: 9459, dtype: object

In [12]:
data['first'] = data['address'].astype('str').apply(lambda x: x.split(',')[0])

In [16]:
data['second'] = data['address'].astype('str').apply(lambda x: x.split(',')[1])

In [21]:
data['third'] = data['address'].astype('str').apply(lambda x: x.split(',')[-2])

In [22]:
data.to_csv('without_sorting_geopy.csv',index = False)

In [8]:
data['zone'] = data['address'].astype('str').apply(lambda x: x.split(',')[-2])

In [9]:
data['state'] = data['address'].astype('str').apply(lambda x: x.split(',')[-1])

In [10]:
data['district'] = data['address'].astype('str').apply(lambda x: x.split(',')[1])

In [11]:
data.head()

,Latitude,Longitude,address,hehe,zone,state,district
0,-4.460442,29.811396,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania",Western Zone,Tanzania,Kasulu
1,-6.176438,39.244871,"Mombasa, Zanzibar City, Unguja Mjini Magharibi...","Mombasa, Zanzibar City, Unguja Mjini Magharibi...",71201,Tanzania,Zanzibar City
2,-6.825702,37.652798,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan...",6284,Tanzania,Morogoro
3,-3.372049,35.808307,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...",Northern Zone,Tanzania,Karatu
4,-7.179645,31.039095,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania",Western Zone,Tanzania,Kizi

In [12]:
data.zone.value_counts()

 Southern Highlands Zone    2041
 Lake Zone                  1793
 Coastal Zone               1375
 Northern Zone              1203
 Central Zone                886
 Western Zone                487
 Zanzibar                    239
 271                         118
 850                          95
 23210                        88
 33102                        68
 9452                         63
 17503                        59
 +225                         54
 71117                        53
 1387                         51
 71201                        51
 71116                        43
 71109                        39
 11007                        35
 KIPUNGUNI B                  31
 11000                        30
 578                          28
 000255                       26
 -                            26
 78492                        24
 6284                         24
 78570                        23
 34588 DSM                    21
 20481                        19
                            ...
 886                           8
 1941                          8
 CV1 4FQ                       7
 72103                         7
 3918                          6
 P.O BOX 35103                 6
 2555                          6
 4023                          6
 21493                         6
 Kajiado                       6
 4897                          6
 DAR ES SALAAM                 5
 71102                         5
 0078                          4
 131                           4
 027                           3
 59315                         3
 72101                         3
Ruma Primary School            3
 14110                         2
 255                           2
 5983                          2
 P.O/ BOX                      2
 TZA                           2
 31537                         1
 14 CHAMAKWEZA CHALINZE        1
 25195                         1
 Northern Region               1
Northern Province              1
 11101                         1
Name: zone, Length: 82, dtype: int64

In [13]:
data.zone.unique()

array([' Western Zone', ' 71201', ' 6284', ' Northern Zone',
       ' Coastal Zone', ' Southern Highlands Zone', ' Lake Zone',
       ' 71214', ' 71116', ' 25107', ' Central Zone', ' 17503', ' 578',
       ' 71117', ' 271', ' 938', ' 850', ' 78492', ' KIPUNGUNI B',
       ' 23601', ' 23210', ' 9452', ' 11000', ' 71101', ' 000255',
       ' 71109', ' P.O.BOX 22304', ' 1387', ' 71103', ' Zanzibar',
       ' 3003', ' 33102', ' 027', ' KASSAMBYA', ' 0097', ' 53208',
       ' 10086', ' 4023', ' DAR ES SALAAM', ' 3918', ' Kilimanjaro',
       ' +225', ' 20481', ' 35', ' 59315', ' 34588 DSM', ' 36091',
       ' 2555', ' 5983', ' 21493', ' 11007', ' 14129', ' -', ' 72208',
       ' 186', ' CV1 4FQ', ' P.O BOX 35103', ' 78570', ' Kajiado', ' 886',
       ' 78 KAMACHUMU', ' 21518', ' 72101', ' 1941', ' 1371', ' 25195',
       ' 72103', ' 4897', ' 131', ' 0078', ' TZA', ' Dodoma', ' P.O/ BOX',
       ' 14110', ' 255', ' 31537', 'Northern Province',
       ' Northern Region', 'Ruma Primary School', ' 71102', ' 11101',
       ' 14 CHAMAKWEZA CHALINZE'], dtype=object)

In [14]:
data.district.nunique()

579

In [15]:
data[data.zone == ' 271'] = ' Chake-Chake District'

In [16]:
data[data.zone == ' 850']  = ' Southern Highlands Zone'

In [17]:
data[data.zone == ' 23210']  = ' Northern Zone'

In [18]:
data[data.zone == ' 33102']  = ' Lake Zone'

In [19]:
data[data.zone == ' 9452']  = ' Coastal Zone'

In [20]:
data[data.zone == ' 17503']  = ' Coastal Zone'

In [21]:
data[data.zone == ' +225']  = ' Lake Zone'

In [22]:
data[data.zone == ' 71117']  = ' Zanzibar City'

In [24]:
data[data.zone == ' 71201'] =   ' Zanzibar City'
data[data.zone == ' 1387']  = ' Central Zone'

In [25]:
data.head()

,Latitude,Longitude,address,hehe,zone,state,district
0,-4.46044,29.8114,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania",Western Zone,Tanzania,Kasulu
1,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City
2,-6.8257,37.6528,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan...",6284,Tanzania,Morogoro
3,-3.37205,35.8083,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...",Northern Zone,Tanzania,Karatu
4,-7.17965,31.0391,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania",Western Zone,Tanzania,Kizi

In [28]:
data[data.zone == ' 71116']  = ' Zanzibar City'

In [31]:
data[data.zone == ' 71109']  = ' Zanzibar City'

In [34]:
data[data.zone == ' 11007']  = ' Coastal Zone'

In [37]:
data[data.zone == ' 11000']   =' Coastal Zone'

In [44]:
data[data.zone == ' 578']   = ' Lake Zone'

In [48]:
data[data.zone == ' 000255']    = ' Central Zone'

In [51]:
data[data.zone == ' 78492'] = ' Coastal Zone'

In [53]:
data.zone.nunique()

67

In [54]:
data.head()

,Latitude,Longitude,address,hehe,zone,state,district
0,-4.46044,29.8114,"Manyovu, Kasulu, Kigoma, Western Zone, Tanzania","Manyovu, Kasulu, Kigoma, Western Zone, Tanzania",Western Zone,Tanzania,Kasulu
1,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City,Zanzibar City
2,-6.8257,37.6528,"Forest Hill, Morogoro, Coastal Zone, 6284, Tan...","Forest Hill, Morogoro, Coastal Zone, 6284, Tan...",6284,Tanzania,Morogoro
3,-3.37205,35.8083,"Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...","Mto wa Mbu, Karatu, Arusha, Northern Zone, Tan...",Northern Zone,Tanzania,Karatu
4,-7.17965,31.0391,"R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania","R549, Kizi, Nkasi, Katavi, Western Zone, Tanzania",Western Zone,Tanzania,Kizi

In [56]:
data.state.unique()

array([' Tanzania', ' Zanzibar City', ' Coastal Zone', ' Lake Zone',
       ' Chake-Chake District', ' Southern Highlands Zone',
       ' Northern Zone', ' Central Zone', ' Kenya', ' Zambia', ' Malawi'],
      dtype=object)

In [59]:
data.zone.nunique()

67

In [60]:
data.to_csv('zone.csv',index = False)

In [52]:
data.zone.value_counts()

 Southern Highlands Zone    2136
 Lake Zone                  1943
 Coastal Zone               1586
 Northern Zone              1291
 Central Zone                963
 Western Zone                487
 Zanzibar                    239
 Zanzibar City               186
 Chake-Chake District        118
 KIPUNGUNI B                  31
 -                            26
 6284                         24
 78570                        23
 34588 DSM                    21
 20481                        19
 71103                        16
 P.O.BOX 22304                16
 23601                        15
 53208                        15
 0097                         14
 35                           13
 938                          12
 Dodoma                       11
 21518                        11
 KASSAMBYA                    11
 78 KAMACHUMU                 10
 1371                         10
 71214                        10
 36091                        10
 72208                        10
                            ...
 3003                          8
 14129                         8
 CV1 4FQ                       7
 72103                         7
 Kajiado                       6
 3918                          6
 4023                          6
 21493                         6
 2555                          6
 4897                          6
 P.O BOX 35103                 6
 DAR ES SALAAM                 5
 71102                         5
 131                           4
 0078                          4
Ruma Primary School            3
 59315                         3
 72101                         3
 027                           3
 5983                          2
 P.O/ BOX                      2
 255                           2
 TZA                           2
 14110                         2
 31537                         1
 14 CHAMAKWEZA CHALINZE        1
 25195                         1
Northern Province              1
 Northern Region               1
 11101                         1
Name: zone, Length: 67, dtype: int64

In [42]:
data.zone.unique()

array([' Western Zone', ' Zanzibar City', ' 6284', ' Northern Zone',
       ' Coastal Zone', ' Southern Highlands Zone', ' Lake Zone',
       ' 71214', ' 25107', ' Central Zone', ' 578',
       ' Chake-Chake District', ' 938', ' 78492', ' KIPUNGUNI B',
       ' 23601', ' 71101', ' 000255', ' P.O.BOX 22304', ' 71103',
       ' Zanzibar', ' 3003', ' 027', ' KASSAMBYA', ' 0097', ' 53208',
       ' 10086', ' 4023', ' DAR ES SALAAM', ' 3918', ' Kilimanjaro',
       ' 20481', ' 35', ' 59315', ' 34588 DSM', ' 36091', ' 2555',
       ' 5983', ' 21493', ' 14129', ' -', ' 72208', ' 186', ' CV1 4FQ',
       ' P.O BOX 35103', ' 78570', ' Kajiado', ' 886', ' 78 KAMACHUMU',
       ' 21518', ' 72101', ' 1941', ' 1371', ' 25195', ' 72103', ' 4897',
       ' 131', ' 0078', ' TZA', ' Dodoma', ' P.O/ BOX', ' 14110', ' 255',
       ' 31537', 'Northern Province', ' Northern Region',
       'Ruma Primary School', ' 71102', ' 11101',
       ' 14 CHAMAKWEZA CHALINZE'], dtype=object)

In [41]:
data[data.zone == ' KIPUNGUNI B']

,Latitude,Longitude,address,hehe,zone,state,district
115,-6.88544,39.1549,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
141,-6.90786,39.1689,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
619,-6.8737,39.1748,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
1169,-6.90874,39.1704,"Apple pharmacy, Machimbo Road, Ukonga, Dar es ...","Apple pharmacy, Machimbo Road, Ukonga, Dar es ...",KIPUNGUNI B,Tanzania,Machimbo Road
1310,-6.88523,39.1552,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
1528,-6.88847,39.1612,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
1832,-6.88496,39.1552,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
1951,-6.88814,39.1606,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2252,-6.88523,39.1555,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2386,-6.88534,39.1553,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2400,-6.88853,39.1609,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2508,-6.88487,39.1555,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2743,-6.90486,39.1699,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2842,-6.88834,39.1615,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
2940,-6.90755,39.1694,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
3308,-6.88866,39.1609,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
3326,-6.87384,39.1749,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
3714,-6.88492,39.1556,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
5004,-6.8853,39.155,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
5411,-6.87824,39.1513,"Ukonga, Mikongeni, Dar es Salaam, Coastal Zone...","Ukonga, Mikongeni, Dar es Salaam, Coastal Zone...",KIPUNGUNI B,Tanzania,Mikongeni
5498,-6.88523,39.1546,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
5537,-6.88868,39.1607,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
5590,-6.90551,39.1696,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
6145,-6.88808,39.161,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
6187,-6.88524,39.1551,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
6669,-6.90549,39.1702,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
7292,-6.88872,39.1609,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
7479,-6.90893,39.17,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
7772,-6.90742,39.1699,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
7993,-6.90808,39.1696,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto
8395,-6.88788,39.1607,"Ukonga, Mikongeni township - Gongolamboto, Dar...","Ukonga, Mikongeni township - Gongolamboto, Dar...",KIPUNGUNI B,Tanzania,Mikongeni township - Gongolamboto

In [ ]:
data[data.zone == ' 850']

In [ ]:
data[data.zone == ' 850']

In [ ]:
data[data.zone == ' 850']

In [ ]:
data[data.zone == ' 850']

In [ ]:
23210

In [62]:
#(data.zone == ' Kilimanjaro') = (data.state == ' Northern Zone')

In [63]:
data.zone[506:507] = ' Northern Zone'
data.zone[1405:1406] = ' Northern Zone'
data.zone[1991:1992] = ' Northern Zone'
data.zone[2550:2551] = ' Northern Zone'
data.zone[4031:4032] = ' Northern Zone'
data.zone[4378:4379] = ' Northern Zone'
data.zone[5957:5958] = ' Northern Zone'
data.zone[6529:6530] = ' Northern Zone'
data.zone[7603:7604] = ' Northern Zone'
data.zone[8952:8953] = ' Northern Zone'

C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\OLALEYE ENIOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [52]:
#data.zone.apply(lambda x: if x == ' Kilimanjaro' return ' Northern Zone')

SyntaxError: invalid syntax (<ipython-input-52-947b01b1f3cf>, line 1)

In [37]:
data[data.Longitude == 37.366773]

,Latitude,Longitude,address,hehe,district,zone,state
1405,-2.878944,37.366773,"Rombo, Kilimanjaro, Northern Zone","Rombo, Kilimanjaro, Northern Zone",Kilimanjaro,Kilimanjaro,Northern Zone

In [39]:
data.zone.unique()

array([' Western Zone', ' 71201', ' 6284', ' Northern Zone',
       ' Coastal Zone', ' Southern Highlands Zone', ' Lake Zone',
       ' 71214', ' 71116', ' 25107', ' Central Zone', ' 17503', ' 578',
       ' 71117', ' 271', ' 938', ' 850', ' 78492', ' KIPUNGUNI B',
       ' 23601', ' 23210', ' 9452', ' 11000', ' 71101', ' 000255',
       ' 71109', ' P.O.BOX 22304', ' 1387', ' 71103', ' Zanzibar',
       ' 3003', ' 33102', ' 027', ' KASSAMBYA', ' 0097', ' 53208',
       ' 10086', ' 4023', ' DAR ES SALAAM', ' 3918', ' Kilimanjaro',
       ' +225', ' 20481', ' 35', ' 59315', ' 34588 DSM', ' 36091',
       ' 2555', ' 5983', ' 21493', ' 11007', ' 14129', ' -', ' 72208',
       ' 186', ' CV1 4FQ', ' P.O BOX 35103', ' 78570', ' Kajiado', ' 886',
       ' 78 KAMACHUMU', ' 21518', ' 72101', ' 1941', ' 1371', ' 25195',
       ' 72103', ' 4897', ' 131', ' 0078', ' TZA', ' Dodoma', ' P.O/ BOX',
       ' 14110', ' 255', ' 31537', 'Northern Province',
       ' Northern Region', 'Ruma Primary School', ' 71102', ' 11101',
       ' 14 CHAMAKWEZA CHALINZE'], dtype=object)